:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-theme-primary: #333;
  --color-theme-secondary: #222;
  --color-theme-gradient: linear-gradient(var(--color-theme-primary), var(--color-theme-secondary));
  --color-theme-hover: #444;

  --color-theme-red-raw: 218, 73, 73; 
  --color-theme-red: rgb(var(--color-theme-red-raw));

  --box-shadow-primary: 0px 0px 16px 0px #444;

  --background-color-default: linear-gradient(rgba(19, 90, 154, 0.5), rgba(61, 175, 212, 0.75));
}

* { 
  box-sizing: border-box;
}

html {
  font-size: 14px;
  overflow: hidden;
  height: 100%;
}

button {
  border: none;
  border-radius: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

