:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-theme-primary: #333;
  --color-theme-secondary: #222;
  --color-theme-gradient: linear-gradient(var(--color-theme-primary), var(--color-theme-secondary));
  --color-theme-hover: #444;

  --box-shadow-primary: 0px 0px 16px 0px #444;

  --background-color-default: linear-gradient(rgba(19, 90, 154, 0.5), rgba(61, 175, 212, 0.75));
}

* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  overflow: hidden;

  font-size: 14px;
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
